/* boilarplate style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;

}
.Copyright{
    padding-top: 20px;
    padding-bottom: 20px;

}

/* Navbar styling */
.nav{
    position:fixed;
    height: 80px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 50px;
    /* background-color: rgb(54, 209, 190); */
    background-color: orange;

}
.nav-h1 span{
    color: black;
    font-family: "Cedarville Cursive", cursive;
    font-style: normal;
  
}
.nav-options .home{
   color:black;

}
.nav-options .home:hover{
   color: black;
   border-bottom : 4px solid palegreen;
 
 }

.nav-options a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    
    
}

.nav-options a:hover{
    
    color:palegreen;
    border-bottom : 4px solid black;
}

.nav-btn button{
    height: 40px;
    width: 120px;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: palegreen;
    padding-right: 0px;
    text-decoration: none;
   
}

.nav-btn button:hover{
/* 
background-color: palegreen;
color: black; */
  
}

/* Main Section */

.main{
    height: 100%;
    width: 100%;
    display: flex;
}

.main-left{
    height: 100%;
    width: 50%;
    
}

.main-left-1{
    padding-left: 50px;
    padding-top: 225px;
    padding-bottom: 5px;
    
    
}

.main-left-h1{
    color: palegreen;
    font-size: 25px;
    
}
.main-left-h1:hover{
    color: black;
    
    
}
.main-left-para{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
}

.main-right{
    height: 100%;
    width: 50%;
   
}

.main-right-1 img{
margin-left: 250px;
margin-top: 200px;
size: 200px;

}


/* button Resume Download*/

.main-left-btn{
    padding-top: 10px;
      
}
.main-left-btn button{
    height: 50px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: palegreen;
    font-size: 15px;
    font-weight: 500;
}

.main-left-btn a{
    
    text-decoration: none;
    color: palegreen;

}

.main-right-myimage{
    height: 550px;

    padding-top: 70px;
}

/* about me  */

.about{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    /*display: flex;
    flex-direction: row;
    display: flex;*/
}

/* About me left section */
.about-top{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    padding-left: 60px;
    padding-top: 130px;
    padding-right: 50px;
}

.about-top-h1{
    color: black;
    /* padding-bottom: 20px; */

    /* border-bottom : 4px solid black; */
    /* display: inline-block;           Restricts the border width to text area */
}
h4{
    padding-bottom: 20px;
    padding-top: 20px;
}
.about-top-h1:hover {
    /* color: palegreen; */
   

}
.about-top-para{
    padding-top: 15px;
    font-size: 20px;
    color: #333;/* Dark gray text color */
    /* background-color: #f9f9f9; Light background for contrast */
    
}

.about-top-para span{
    color: palegreen;
}

.about-top-para span:hover{
    color:black;
}

/* About me right section */
.about-down{
    height: 100%;
    width: 100%;
  
    /* background-color: red; */
    padding-left: 60px;
    padding-top: 50px;
    padding-right: 50px;
    
}
.about-down-h1{
    color: black;
}
.about-down-h1:hover{
   
    color: palegreen;
}
.about-social{
    display: flex;
    justify-content: flex-start; /* Aligns icons to the left of paragraph */
    gap: 20px;
    padding-top: 15px; /* Space above icons */
    margin-top: 20px;
}
.about-link{
    color: #663399;
    font-size: 3em;
    text-decoration: none;
    transition: color 0.3s;
}

.about-link:hover {
    color: palegreen;
}

/* Skills Section */
.skill-icon{
    width: 50px;  /* Set the size for each skill icon */
    height: 50px;
}
/* 
.about-right-skills-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
gap: 20px;
padding-top: 20px;
} */

.about-down-skills-container
{
display: grid;
grid-template-columns: repeat(6,1fr); /* Fixed 4-column layout */
gap: 34px;
padding-top: 20px;
} 

/* .about-right-skills-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1.5rem;

} */

.about-down-skills-container:hover{
    color: palegreen;
}

/* projects section */


.projects-container{
    display: flex;
    margin-left: 70px;   
    
}
.projects-img{
    margin-top: 30px;
    height: 350px;
    width: 300px;
    border: 30px solid black ;
    background-size: cover;
    border-radius: 20px;
}

.project-img{
    transition: border 0.5s 0.5s ease-in;
  }
  .projects-img:hover{
    border: 25px solid palegreen;
    scale: 1.1;
}
.projects-data{
    margin-top: 25px;
}
.projects-name{
    font-size: medium;
    margin-bottom: 25px;
   
}
.projects-description{
    font-size: medium;
    padding-bottom: 25px;
    padding-right: 40px;

}
.projects-skills{
    width: max-content;  /* Set the size for each skill icon */
    height: 34px;
    display: flex;  
    padding-inline: .75rem;
    align-items: center;
    column-gap: .75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
    padding-top: 10px;
}

.projects-section{
    padding-left: 60px;
    padding-bottom: 30px;
}

.projects-button{
    font-size: 25px;
    color: black;
    text-decoration-line: none;
}

.projects-button i{
    font-size: 20px;
    
}

.projects-button:hover{
    color:palegreen;
}

.section-title:hover{
color: palegreen;
}

.section-title{
    padding-top: 110px;
}
 /* Project */
 .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color:  rgb(54, 209, 190);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: black;
    font-size: 1.3rem;
    /* font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
        font-style: normal; */
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding-left: 25px;
    font-size:1.3rem ;
}

.project-card a:hover {
    color: #0073e6;
}
/* Contact Me */
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

.contact-left{
    height: 500px;
    width: 35%;
}
.contact-left-h1{
   
    margin-top: 50px;
    margin-left: 30px;
}
.contact-left-h1:hover{
    color: palegreen;
}
.contact-left-phone i{
    font-size: 30px;
    gap: 20px;
    margin-left: 30px;
    margin-right: 10px;
    color: blue;

 }
.contact-left-phone i:hover{
    color: palegreen;

}
.contact-left-phone span{
    font-size: 25px;
}
.contact-left-phone span:hover{
    color: palegreen;
}
.contact-left-email{
    margin-left: 30px;
    margin-top: 30px;
    
}
.contact-left-email span{
    font-size:25px;
    margin-left: 10px;
}
.contact-left-social{
    margin-left: 30px;  
}
.gmail-icon{
    height: 20px;
    width: 7%;
}
.contact-left-email :hover{
    color: palegreen;
}

/* Contact-Right */

form{
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    justify-items: center;
    align-items: center;
}
form h2{
    font-size: 30px;
}

form h2:hover{
    color: palegreen;
}
form p{
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

 form input{
    height: 50px;
    width: 500px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    padding: 20px;
}

Form textarea{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    margin-top: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 20px;
}

form button{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    background-color: black;
    margin-top: 20px;
    color: palegreen;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 20px 0px;
}

/* Service section */
.services{
    height: 100%;
     width: 100%;
    /*background-color: #663399; */
}
.service-h1{
    margin-left: 60px;
    padding-top: 205px;
}
.service-h1:hover{
    color: palegreen;
}

.services-boxes{
    height: 300px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
 }
 
.service-box-1{
    height: 250px;
    width: 300px;
    background-color:black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
}
.service-box-1:hover{
    scale: 1;
}
.service-box-1  i{
   font-size: 40px;
   padding-top: 20px;
   padding-left: 20px;
}
.service-box-1  h2{
    padding-top: 20px;
    padding-left: 20px;
 }
 .service-box-1  p{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
 }

 .service-box-1  .learn{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
 }
.service-box-2{
    height: 250px;
    width: 300px;
    background-color: black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
}
.service-box-2:hover{
    scale: 1;
}

.service-box-2  i{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
 }
 .service-box-2  h2{
     padding-top: 20px;
     padding-left: 20px;
  }
  .service-box-2  p{
     font-size: 14px;
     padding-top: 10px;
     padding-left: 20px;
  }
 
  .service-box-2  .learn{
     font-size: 20px;
     padding-top: 20px;
     padding-left: 20px;
  }

.service-box-3{
    height: 250px;
    width: 300px;
    background-color: black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
}
.service-box-3:hover{
    scale: 1;
}

.service-box-3  i{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
 }
 .service-box-3  h2{
     padding-top: 20px;
     padding-left: 20px;
  }
  .service-box-3  p{
     font-size: 14px;
     padding-top: 10px;
     padding-left: 20px;
  }
 
  .service-box-3  .learn{
     font-size: 20px;
     padding-top: 20px;
     padding-left: 20px;
  }
  .bottom-container{
    background-color: rgb(54, 209, 190);
    text-align: center;
    padding: 30px 0px;
    margin-top:20px;
}
a{
    padding: 0px 10px;
    text-decoration: none;
}

  /* Project Section */

  /* .projects{
    height: 500px;
    width: 100%; */
    /*background-color: red; */
  /* }
  .projects-h1:hover{
    color: palegreen;
  }
  .projects-h1{
    margin-left: 30px;
  }
  .projects-boxes{
    height: 300px;
    width: 100%;
    /* background-color: blue; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    margin-top: 75px;
   
  }
  .projects-box-1{
    height: 350px;
    width: 300px; */
    /* background-color:yellow; */
    /* border-radius: 20px;
    background-image: url("Tic.jpg");
    background-size: cover;
    border: 25px solid black;
    transition: all 0.5s 0.5s ease-in;
  }
.projects-box-1:hover{
    border: 25px solid palegreen;
    scale: 1.1;
}
  .projects-box-2{
    height: 350px;
    width: 300px; */
    /* background-color:yellow; */
    /* border-radius: 20px;
    background-image: url("Rock.jpg");
    background-size: cover;
    border: 25px solid black;
    transition: border 0.5s 0.5s ease-in;
  }
  .projects-box-2:hover{
    border: 25px solid palegreen;
    scale: 1.1;
}
  .projects-box-3{
    height: 350px;
    width: 300px;
    /* background-color:yellow; */
    /* border-radius: 20px;
    background-image: url("");
    background-size: cover;
    border: 25px solid black;
    transition: all 0.5s 0.5s ease-in;
  }
  .projects-box-3:hover{
    border: 25px solid palegreen;
    scale: 1.1;
}  */