body{
    background-color: mistyrose;
}
h1{
    text-align: center;
    /* background-color: #cb7579; */
}
img{
    border-radius: 50%;
    align-items: center;
}
div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
a{
    text-decoration: none;
    align-items: center;
    color: white;
}
button{
    width: 200px;
    padding: 10px;
   margin-left: 40%;
   margin-top: 20px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    align-items: center;
    background-color: black;
}
